.container-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 15px;
}

img {
  height: 400px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: large;
}

.button {
  color: #fff;
  background-color: #f86565;
  border-color: #f86565;
}
