<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateHome()">Peliculand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link" aria-current="page" (click)="navigateHome()">Home</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="navigateAccount()">Cuenta</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="navigateCart()">Carrito</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
